.container {
    background-color: rgb(151, 196, 223);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.contact {
    margin: 2%;
    color: rgb(23, 74, 163);
    font-family: 'Times New Roman', Times, serif;
}

.box {
    background-color: azure;
}